body {
    background-color: rgb(239, 206, 144);
    width: 100%;
    height: 100%;
    margin: 0px;
    max-width: 100%;
}

header img {
    max-width: 100%;
    height: auto;
    margin: 0px;
}

nav {
    background-color: rgb(180, 123, 16);
    max-width: 100%;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin-top: 0px;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

nav li {
    float: left;
    padding: 20px;
    font-family: 'Lucida Sans Unicode';
    font-size: larger;
}

nav a:link {
    color: aliceblue;
}

nav a:visited {
    color: gold;
}

nav a:hover {
    color: antiquewhite;
    border-bottom: 2px solid gainsboro;
}

nav a:active {
    color: black;
    background-color: aqua;
}

article {
    margin: auto;
    width: 1200px;
    max-width: 100%;
    overflow: hidden;
}


article h1 {
    font-family: 'Lucida Sans';
    font-size: xx-large;
    text-align: center;
}

article h1:hover {
    font-family: 'Lucida Sans';
    font-size: xx-large;
    text-align: center;
    transform: scale(1.5);
}

h3 {
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
    font-size: large;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
}

span img {
    height: 240px;
    width: 320px;
    transform: scale(0.9);
}

span img:hover {
    height: 240px;
    width: 320px;
    transform: scale(0.8);
    transition: transform 1s;
}

.section {
    display: block;
}

.last {
    padding-bottom: 20px;
    font-family: 'Lucida Sans Unicode';
    font-size: medium;
}

.line {
    border-top: 2px solid rgb(180, 123, 16);
    padding-bottom: 20px;
}

.audio {
    font-family: 'Lucida Sans Unicode';
    text-align: center;
    font-size: small;
    padding-top: 15px;
}

.space {
    padding: 20px;
}

footer {
    padding-top: 10px;
    font-family: 'Lucida Sans Unicode';
    text-align: center;
    font-size: small;
    background-color: rgb(180, 123, 16);
    color: aliceblue;
}

.socials {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.socials a {
    text-decoration: none;
    color: aliceblue;
}

.socials a:hover {
    text-decoration: none;
    background-color: rgb(129, 182, 228);
    color: brown;
}

.insta {
    background: url('image_sprite.png') no-repeat -948px -186px;
    width: 123px;
    height: 123px;
    transform: scale(0.35);
}

.tiktok {
    background: url('image_sprite.png') no-repeat -948px -337px;
    width: 123px;
    height: 123px;
    transform: scale(0.35);
}

.youtube {
    background: url('image_sprite.png') no-repeat -1551px -337px;
    width: 123px;
    height: 123px;
    transform: scale(0.35);
}

.insta:hover,
.tiktok:hover,
.youtube:hover {
    transform: scale(0.20);
}